@import "../../app.component.scss";

label {
    font-size: 0.85em;
    font-weight: bold;
}

input {
    font-size: 0.85em;
}

select {
    font-size: 0.85em;
}

.input-group-text {
    font-size: 0.85em;
}
