<form #f="ngForm" (ngSubmit)="handleSubmit(f)" novalidate>
  <div class="form-group row">
    <label for="wallet" class="col-sm-3 col-form-label">From Wallet</label>
    <div class="col-sm-9">
      <select name="walletId" class="form-control">
        <option
          *ngFor="let wallet of walletList"
          [selected]="wallet.id === walletId"
          >{{ wallet.id }} ({{ wallet.balance.toString(10) }} CRO)</option
        >
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="toAddress" class="col-sm-3 col-form-label"
      >Recipient CRO Address</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        name="toAddress"
        class="form-control"
        #toAddressModel="ngModel"
        [ngClass]="{
          'is-invalid': toAddressModel.value && !toAddressModel.valid
        }"
        id="toAddress"
        placeholder="Recipient Address"
        [(ngModel)]="toAddress"
        required
        pattern="0x.*"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="amount" class="col-sm-3 col-form-label">Amount</label>
    <div class="input-group col-sm-9">
      <input
        type="text"
        name="amount"
        class="form-control"
        #amountModel="ngModel"
        [ngClass]="{ 'is-invalid': amountModel.value && !amountModel.valid }"
        id="amount"
        placeholder="Amount to send"
        [(ngModel)]="amountValue"
        (ngModelChange)="handleAmountChange($event)"
        required
        pattern="\d*[.,]?\d+"
      />
      <div class="input-group-append">
        <div class="input-group-text">CRO</div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" (click)="cancel()">
      Cancel</button
    >&nbsp;
    <button type="submit" class="btn btn-green">
      <fa name="paper-plane"></fa>
      Send
    </button>
  </div>
</form>
