<form
  name="sendFundsForm"
  #form="ngForm"
  (ngSubmit)="handleSubmit(form)"
  novalidate
>
  <div class="form-group row">
    <label for="amount" class="col-sm-4 col-form-label">Amount</label>
    <div class="input-group col-sm-8">
      <input
        id="amount"
        type="text"
        name="amount"
        class="form-control"
        #amountModel="ngModel"
        [ngClass]="{
          'is-invalid':
            amountModel.invalid && (amountModel.dirty || amountModel.touched)
        }"
        placeholder="Amount to send"
        [(ngModel)]="amountValue"
        (ngModelChange)="handleAmountChange($event)"
        required
        pattern="\d*\.?\d+"
        [appSufficientBalance]="selectedWallet.balance"
      />
      <div class="input-group-append">
        <div class="input-group-text">CRO</div>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (amountModel.dirty || amountModel.touched) &&
          amountModel.errors?.required
        "
      >
        Missing required amount
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (amountModel.dirty || amountModel.touched) &&
          amountModel.errors?.pattern
        "
      >
        Invalid amount
      </div>
      <div
        class="invalid-feedback-block"
        *ngIf="
          (amountModel.dirty || amountModel.touched) &&
          amountModel.errors?.sufficientBalance
        "
      >
        Insufficient wallet balance
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="toAddress" class="col-sm-4 col-form-label"
      >Recipient CRO Address</label
    >
    <div class="col-sm-8">
      <input
        id="toAddress"
        type="text"
        name="toAddress"
        class="form-control"
        #toAddressModel="ngModel"
        [ngClass]="{
          'is-invalid':
            toAddressModel.invalid &&
            (toAddressModel.dirty || toAddressModel.touched)
        }"
        placeholder="Recipient Address"
        [(ngModel)]="toAddress"
        required
        appAddress
      />
      <div
        class="invalid-feedback"
        *ngIf="
          (toAddressModel.dirty || toAddressModel.touched) &&
          toAddressModel.errors?.required
        "
      >
        Missing required recipient address
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (toAddressModel.dirty || toAddressModel.touched) &&
          toAddressModel.errors?.address
        "
      >
        Invalid recipient address
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="walletId" class="col-sm-4 col-form-label">From Wallet</label>
    <div class="col-sm-8">
      <select
        id="walletId"
        name="walletId"
        class="form-control"
        [(ngModel)]="walletId"
        (ngModelChange)="handleWalletIdChange($event)"
      >
        <option
          *ngFor="let wallet of walletList"
          [selected]="wallet.id === walletId"
          value="{{ wallet.id }}"
          >{{ wallet.id }} ({{ wallet.balance.toString(10) }} CRO)</option
        >
      </select>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" (click)="cancel()">
      Cancel</button
    >&nbsp;
    <button type="submit" class="btn btn-green">
      <fa name="paper-plane"></fa>
      Send
    </button>
  </div>
</form>
