<div class="text-center">
  <div class="wallet-title">{{ wallet.id }} CRO address</div>
  <div class="wallet-address">
    {{ walletAddress }}
  </div>
  <button
    class="btn btn-blue"
    type="submit"
    (click)="copyAddressMessage()"
    [ngClass]="{
      'btn-green': btnMsg == 'Copied!'
    }"
  >
    {{ addressBtnMsg }}
  </button>
  <hr>
  <div class="wallet-title">{{ wallet.id }} View Key</div>
  <div class="wallet-address">
    {{ walletViewKey }}
  </div>
  <button
    class="btn btn-blue"
    type="submit"
    (click)="copyViewKeyMessage()"
    [ngClass]="{
      'btn-green': btnMsg == 'Copied!'
    }"
  >
    {{ viewKeyBtnMsg }}
  </button>
  <hr>
  <div class="qrcode">
    <qrcode [qrdata]="walletAddress + ',' + walletViewKey" [size]="128" [level]="'M'"></qrcode>
  </div>
</div>
