@import "../../app.component.scss";
.wallet-title {
  font-family: Helvetica;
  font-size: 19px;
  color: #5e5e5e;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}
.wallet-address {
  font-family: Helvetica;
  font-size: 18px;
  color: #626973;
  text-align: center;
  padding: 10px;
}
button {
  margin: 10px;
}
.qrcode {
  padding: 20px;
}
