@import "../../app.component.scss";

.list-group {
  overflow: auto;
  max-height: 380px;
}
.wallet-id {
  overflow: hidden;
  text-overflow: ellipsis;
}
.add-wallet {
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  a {
    opacity: 0.5;
    font-family: Helvetica;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
  }
}
.wallet-list {
  height: 450px;
}

.list-group-item.active {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: white;
}
.list-group-item {
  color: white;
  background: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}
.logo-tm {
  width: 160px;
}

.confirm-button {
  margin-bottom: 20px;
}
