.unlock {
  color: rgba(0, 0, 0, $alpha: 0.9);
  font-size: 150px;
  .unlock_text {
    font-family: Helvetica;
    font-size: 36px;
    color: #e6e6e6;
    text-align: center;
  }
  padding-top: 200px;
}
