@import "../../app.component.scss";
.wallet {
  color: white;
}
.wallet-id {
  font-family: Helvetica;
  font-size: 36px;
  color: #ffffff;
}
.locked {
  opacity: 0.2;
}
.wallet-balance-unit {
  font-size: 0.8em;
}
