<div *ngIf="decryptedFlag" class="row">
  <div class="col-6">
    <h2>{{ wallet.id }}</h2>
    <h3>{{ walletBalance | currency:'':'':'1.0-0' }} CRO</h3>
  </div>
  <div class="col-6 text-right">
    <button type="button" class="btn btn-green" (click)="openModal(sendFund)">
      <fa name="paper-plane"></fa>
      Send
    </button>
    &nbsp;
    <button type="button" class="btn btn-blue" (click)="openModal(receiveFund)">
      <fa name="inbox"></fa>
      Receive
    </button>
  </div>
</div>

<ng-template #sendFund>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Send Funds</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-send-funds-form
      [walletId]="wallet.id"
      [walletBalance]="walletBalance"
      (sent)="handleFundsSent($event)"
      (cancelled)="closeModal()"
    ></app-send-funds-form>
  </div>
</ng-template>

<ng-template #receiveFund>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Receive Funds</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-receive-fund></app-receive-fund>
  </div>
</ng-template>

<div *ngIf="!decryptedFlag" class="text-center unlock">
  <fa name="lock"></fa>
  <div class="unlock_text">Please select/create a wallet.</div>
</div>
