.btn-blue {
  background-color: #1199fa;
  color: #fff;
  width: 200px;
}
.btn-green {
  background-color: #20bca4;
  color: #fff;
}
// Form
.invalid-feedback-block {
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-title {
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 900;
  color: #5e5e5e;
  text-align: center;
}

.modal-body {
  padding: 0 !important;
}
