.btn-blue {
  background-color: #1199fa;
  color: #fff;
  width: 200px;
}
.btn-green {
  background-color: #20bca4;
  color: #fff;
  width: 200px;
}
// Form
.invalid-feedback-block {
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-title {
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 900;
  color: #5e5e5e;
  text-align: center;
}

.modal-body {
  padding: 0 !important;
}
.home {
  flex: 1 1 auto;
  margin: 1rem;
  padding: 1rem;
  height: 600px;
  min-width: 1380px;
  height: 100%;
}

.app-title {
  font-family: Helvetica;
  font-size: 24px;
  color: #ffffff;
  margin-left: 20px;
  height: 100px;
}
.main {
  min-height: 500px;
  padding-top: 20px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
}
