<div class="home">
  <div class="row">
    <div class="col-2 no-padding">
      <div class="app-title">
        CRO Wallet
      </div>
    </div>
    <div class="col no-padding">
      <app-wallet-info></app-wallet-info>
    </div>
  </div>
  <div class="row">
    <div class="col-2 no-padding">
      <app-wallet-list></app-wallet-list>
    </div>
    <div class="col no-padding main">
      <app-txn-history></app-txn-history>
      <app-lock-view></app-lock-view>
    </div>
  </div>
</div>
<div *ngIf="!isClientRpcAlive" class="connection-failed">
  <div class="vertical-center">Trying to connect the client RPC.</div>
</div>
