.btn-blue {
  background-color: #1199fa;
  color: #fff;
  width: 200px;
}
.btn-green {
  background-color: #20bca4;
  color: #fff;
}
.list-group-item.active {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: white;
}
.list-group-item {
  color: white;
  background: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}
// Form
.invalid-feedback-block {
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.modal-body {
  padding: 0 !important;
}
