@import "../../../app.component.scss";
.badge-info {
  background: #20bca510;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 12px;
  color: #20bca4;
  line-height: 20px;
}
.badge-warning {
  background: #039be510;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 12px;
  color: #039be5;
  line-height: 20px;
}
.badge {
  padding: 6px;
}
.btn {
  color: #fff;
}
.modal-title,
.close {
  color: #fff;
}
