@import "../../app.component.scss";
label {
    font-size: 0.85em;
    font-weight: bold;
}

input {
    font-size: 0.85em;
}

select {
    font-size: 0.85em;
}

.input-group-text {
    font-size: 0.85em;
    background-color: #fff;
}

.wallet {
    margin-top: 1em;
    margin-bottom: 1.1em;
    text-align: center;
}

.wallet-name {
    font-size: 1em;
    font-weight: 700;
    color: #626973;
}

.wallet-balance {
    font-size: 1.2em;
    color: #626973;
}

.wallet-viewkey {
    font-size: 0.8em;
    color: #626973;
}

.wallet-balance-unit {
    font-size: 0.8em;
    font-weight: 700;
    color: #626973;
}

.recipient-address {
    word-break: break-all;
}

.input-container {
    padding: 1.2rem;
    background-color: #f8f9fb;
}

.form-confirm-value {
    font-weight: bold;
    font-size: 0.85em;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
}