<form class="form" name="withdrawFundsForm" #form="ngForm" novalidate>
    <div class="wallet">
        <div class="wallet-name">{{ fromAddress }}</div>
        <div class="wallet-balance">
            Bonded {{ bondedAmount }}
            <span class="wallet-balance-unit">CRO</span>
        </div>
        <div class="wallet-balance">
            Unbonded {{ unbondedAmount }}
            <span class="wallet-balance-unit">CRO</span>
        </div>

        <div class="wallet-viewkey">
            Viewkey {{ senderViewKey }}

        </div>

    </div>
    <div class="input-container">
        <div>
            <div class="form-group row">
                <label for="fromAddress" class="col-sm-4 col-form-label">From Staking Address</label
        >
        <div class="col-sm-8" *ngIf="status === 'PREPARING'">
          <input
            id="fromAddress"
            type="text"
            name="fromAddress"
            class="form-control"
            #fromAddressModel="ngModel"
            [ngClass]="{
              'is-invalid':
                fromAddressModel.invalid &&
                (fromAddressModel.dirty || fromAddressModel.touched)
            }"
            placeholder="From Address"
            [(ngModel)]="fromAddress"
            required
            appStakingAddress
            (ngModelChange)="handleFromAddress($event)"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              (fromAddressModel.dirty || fromAddressModel.touched) &&
              fromAddressModel.errors?.required
            "
          >
            Missing required sender address
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (fromAddressModel.dirty || fromAddressModel.touched) &&
              fromAddressModel.errors?.address
            "
          >
            Invalid sender address
          </div>
        </div>
        <div
          class="col-sm-8 recipient-address form-confirm-value"
          *ngIf="
            status === 'CONFIRMING' ||
            status === 'SENDING' ||
            status === 'BROADCASTED' ||
            status === 'SENT'
          "
        >
          {{ fromAddress }}
        </div>
      </div>
    </div>

    <div>
      <div class="form-group row">
        <label for="toAddress" class="col-sm-4 col-form-label"
          >To Transfer Address</label
        >
        <div class="col-sm-8" *ngIf="status === 'PREPARING'">
          <input
            id="toAddress"
            type="text"
            name="toAddress"
            class="form-control"
            #toAddressModel="ngModel"
            [ngClass]="{
              'is-invalid':
                toAddressModel.invalid &&
                (toAddressModel.dirty || toAddressModel.touched)
            }"
            placeholder="Recipient Address"
            [(ngModel)]="toAddress"
            (change)="saveToAddress()"
            
            required
            appAddress
          />
          <div
            class="invalid-feedback"
            *ngIf="
              (toAddressModel.dirty || toAddressModel.touched) &&
              toAddressModel.errors?.required
            "
          >
            Missing required recipient address
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (toAddressModel.dirty || toAddressModel.touched) &&
              toAddressModel.errors?.address
            "
          >
            Invalid recipient address
          </div>
        </div>
        <div
          class="col-sm-8 recipient-address form-confirm-value"
          *ngIf="
            status === 'CONFIRMING' ||
            status === 'SENDING' ||
            status === 'BROADCASTED' ||
            status === 'SENT'
          "
        >
          {{ toAddress }}
        </div>
      </div>
    </div>

    <div>
      <div class="form-group row">
        <label for="viewKey" class="col-sm-4 col-form-label"
          >Recipient View Key&nbsp;*</label
        >
        <div class="col-sm-8" *ngIf="status === 'PREPARING'">
          <input
            id="viewKey"
            type="text"
            name="viewKey"
            class="form-control"
            #viewKeyModel="ngModel"
            [ngClass]="{
              'is-invalid':
                viewKeyModel.invalid &&
                (viewKeyModel.dirty || viewKeyModel.touched)
            }"
            (change)="saveViewkey()"
            placeholder="Recipient View Key"
            [(ngModel)]="viewKey"
            required
            appViewKey
          />
          <div
            class="invalid-feedback"
            *ngIf="
              (viewKeyModel.dirty || viewKeyModel.touched) &&
              viewKeyModel.errors?.required
            "
          >
            Missing required recipient view key
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (viewKeyModel.dirty || viewKeyModel.touched) &&
              viewKeyModel.errors?.address
            "
          >
            Invalid recipient view key
          </div>
        </div>
        <div
          class="col-sm-8 recipient-address form-confirm-value"
          *ngIf="
            status === 'CONFIRMING' ||
            status === 'SENDING' ||
            status === 'BROADCASTED' ||
            status === 'SENT'
          "
        >
          {{ viewKey }}
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="status === 'PREPARING'">
      <label for="walletPassphrase" class="col-sm-4 col-form-label"
        >Wallet Passphrase</label
      >
      <div class="col-sm-8">
        <input
          id="walletPassphrase"
          type="password"
          name="walletPassphrase"
          class="form-control"
          #walletPassphraseModel="ngModel"
          [ngClass]="{
            'is-invalid':
              walletPassphraseModel.invalid &&
              (walletPassphraseModel.dirty || walletPassphraseModel.touched)
          }"
          placeholder="Wallet Passphrase"
          [(ngModel)]="walletPassphrase"
        />
        <div class="invalid-feedback-block" *ngIf="sendToAddressApiError">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        class="btn btn-blue"
        *ngIf="status === 'PREPARING'"
        (click)="handleConfirm(form)"
      >
        Confirm
      </button>
      <button
        class="btn btn-blue"
        *ngIf="status === 'CONFIRMING'"
        (click)="handleSend(form)"
      >
        Send
      </button>
      <button class="btn btn-blue" *ngIf="status === 'SENDING'">
        Sending ...
      </button>
      <button
        class="btn btn-green"
        *ngIf="status === 'BROADCASTED'"
        (click)="closeAfterSend()"
      >
        Broadcasted!
      </button>
      <button
        class="btn btn-green"
        *ngIf="status === 'SENT'"
        (click)="closeAfterSend()"
      >
        Success!
      </button>
    </div>
  </div>
</form>