@import "~bootstrap/scss/bootstrap";

html,
body {
  min-height: 100%;
  margin: 0;
}
body {
  background-image: linear-gradient(#021e3f, #002a67);
}
.no-padding {
  padding: 5px;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.qrcode {
  img {
    margin-left: 170px;
    margin-right: 170px;
  }
}
