<div class="container-fluid">
  <div class="card box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Crypto.com Chain Wallet</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <div class="list-group">
            <a
              href="#"
              class="list-group-item list-group-item-action flex-column align-items-start active"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Salary wallet</h5>
                <small>423123.12312 CRO</small>
              </div>
              <small>0x4fb2445742d0c413a917b2484960b0d80950b540</small>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Saving wallet</h5>
                <small class="text-muted">34234231.1234 CRO</small>
              </div>
              <small class="text-muted"
                >0x412177283576d69bc8fd9d05336830776ed3971b</small
              >
            </a>
          </div>

          <button type="button" class="btn btn-secondary btn-sm btn-block">
            Create new wallet
          </button>
        </div>
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-11">
              <h2>Salary wallet</h2>
              <h5>
                0x4fb2445742d0c413a917b2484960b0d80950b540
              </h5>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-success">Send fund</button>
            </div>
          </div>
          <app-txn-history></app-txn-history>
        </div>
      </div>
    </div>
  </div>
</div>
