<form #form="ngForm" (ngSubmit)="handleSubmit(form)" novalidate>
  <div class="form-group row">
    <label for="walletPassphrase" class="col-sm-3 col-form-label"
      >Wallet Passphrase</label
    >
    <div class="col-sm-9">
      <input
        id="walletPassphrase"
        type="password"
        name="walletPassphrase"
        class="form-control"
        #walletPassphraseModel="ngModel"
        [ngClass]="{
          'is-invalid':
            walletPassphraseModel.invalid &&
            (walletPassphraseModel.dirty || walletPassphraseModel.touched)
        }"
        placeholder="Wallet Passphrase"
        [(ngModel)]="walletPassphrase"
      />
      <div class="invalid-feedback-block" *ngIf="errorMsgFlag">
        Cannot decrypt wallet. Wrong passphrase.
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-blue">
      Decrypt
    </button>
  </div>
</form>
